.scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.boardlabels{
    display: flex;
    gap: 55px;
    h1{
        font-size: 1.5rem;

    }

}
.score{
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    display: flex;
    gap: 30px
}
.score h1{
    font-size: 2.8rem;

}

.scorebuttons{
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    
    
}
.scorebuttons .Home,.Away{
    display: flex;
    flex-direction: column;
        button{
            padding: 5px;
            max-width: 20px;
            background-color: white;
            line-height: 1;
            font-size: 10px;
        }
}

